{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}


{% block body %}
    {{ form_start(form) }}
    <div class="container mt-5">
        {{ form_row(form.currentPassword) }}
        {{ form_row(form.password) }}
    </div>
    <div>
        <button type="submit" class="btn btn-success w-100 mt-3">
            Sauvegarder les modifications
        </button>
        <a href="{{ path('app_customer_dashboard') }}" class="btn btn-secondary mt-3">
        Annuler
        </a>
    </div>
    {{ form_end(form) }}

{% endblock %}