{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Modifier mon profil</h1>
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.firstName) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.name) }}
            </div>
        </div>
        {{ form_row(form.email) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.adress) }}
        {{ form_row(form.invoiceAdress) }}
        {% if user.isParticular %}
            {{ form_row(form.gender) }}
        {% else %}
            {{ form_row(form.siret) }}
            {{ form_row(form.companyName) }}
        {% endif %}
        <button type="submit" class="btn btn-success w-100 mt-3">
            Sauvegarder les modifications
        </button>
    {{ form_end(form) }}
    <a href="{{ path('app_customer_profile') }}" class="btn btn-secondary w-100 mt-2">
        Annuler
    </a>
</div>
{% endblock %}