{% extends 'base.html.twig' %}

{% block title %}Vos réservations{% endblock %}

{% block body %}
<div class="container mt-5">
{% if reservations is empty %}
    <p class="text-muted">Vous n'avez pas encore de réservation. </p>
    <a href="{{ path('app_customer_dashboard') }}" class="btn btn-primary mt-3">
    Accueil
    </a>
    <a href="{{ path('app_offer') }}" class="btn btn-primary mt-3">
    Première réservation
    </a>
{% else %}
    <p>Vos réservations :</p>

    {% for reservation in reservations %}
    <p>Reservation {{ loop.index }}</p>
    <p>Offre Choisie : {{ reservation.offer.name}}</p>
    <p>Prix : {{ reservation.offer.price}}</p>
    <p>Date de début : {{ reservation.beginDate|date('d/m/Y')}}</p>
    <p>Date de fin : {{ reservation.finishDate|date('d/m/Y')}}</p>
    <p>Statut : {{ reservation.status.value}}</p>
    {% for unit in reservation.units %}
    <p>{{ unit.name }} - Baie {{ unit.bay.name }}</p>
    <a href="{{ path('app_customer_unit_detail', {'id': unit.id}) }}" class="btn btn-sm btn-secondary">
        Gérer
    </a>
    {% endfor %}
    {% endfor %}
    <a href="{{ path('app_customer_dashboard') }}" class="btn btn-primary mt-3">
    Accueil
    </a>
    <a href="{{ path('app_offer') }}" class="btn btn-primary mt-3">
    Nouvelle réservation
    </a>
{% endif %}
</div>
{% endblock %}
